 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/image3.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 565px;
}

.u-section-1 .u-text-1 {
  text-align: left;
  font-weight: 700;
  text-transform: none;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  box-shadow: -2px 0px 0 0 rgba(0,0,0,0);
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 36px 605px 0 36px;
}

.u-section-1 .u-image-1 {
  width: 374px;
  height: 493px;
  margin: -52px 127px 0 auto;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  line-height: 1.8;
  font-weight: 700;
  font-size: 1rem;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  margin: -414px 728px 0 36px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 30px auto 36px 36px;
  padding: 10px 29px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 441px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 564px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 221px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 20px;
    margin-right: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 41px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 971px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 448px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    margin-bottom: 60px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 537px;
}

.u-section-2 .u-image-1 {
  width: 465px;
  height: 465px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px auto 0 59px;
}

.u-section-2 .u-text-1 {
  text-align: left;
  font-weight: 700;
  text-transform: none;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  box-shadow: -2px 0px 0 0 rgba(0,0,0,0);
  margin: -449px 11px 0 591px;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  line-height: 1.8;
  font-weight: 700;
  font-size: 1rem;
  margin: 36px 36px 37px 591px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 402px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 25px;
    margin-left: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 182px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 2px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    margin-top: 117px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 2rem;
    width: auto;
    margin-top: -449px;
    margin-right: 11px;
    margin-left: 44px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 353px 0 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 528px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 494px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 17px 24px 0 auto;
}

.u-section-3 .u-text-1 {
  text-align: left;
  font-weight: 700;
  text-transform: none;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  box-shadow: -2px 0px 0 0 rgba(0,0,0,0);
  margin: -458px 609px 0 12px;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  line-height: 1.8;
  font-weight: 700;
  font-size: 1rem;
  margin: 51px 612px 0 15px;
}

.u-section-3 .u-image-2 {
  width: 253px;
  height: 66px;
  margin: 86px auto 56px 145px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 421px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 427px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 201px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 468px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3 .u-image-1 {
    height: 295px;
    margin-top: 129px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 2rem;
    width: auto;
    margin-top: -395px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 354px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 515px;
}

.u-section-4 .u-text-1 {
  text-align: left;
  font-weight: 700;
  text-transform: none;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  box-shadow: -2px 0px 0 0 rgba(0,0,0,0);
  margin: 44px 11px 0 591px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 420px;
  margin: -97px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  line-height: 1.8;
  font-weight: 700;
  font-size: 1rem;
  margin: -280px 24px 0 603px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 44px 136px 92px auto;
  padding: 10px 29px;
}

.u-section-4 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 402px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 347px;
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 427px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 182px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 266px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 2px;
  }

  .u-section-4 .u-image-1 {
    width: 270px;
    height: 200px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2rem;
    width: auto;
    margin-top: 26px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 288px;
    height: 213px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: 3px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 831px;
}

.u-section-5 .u-shape-1 {
  width: 155px;
  height: 155px;
  background-image: none;
  margin: 52px auto 0 0;
}

.u-section-5 .u-shape-2 {
  width: 1073px;
  height: 388px;
  background-image: none;
  margin: 71px auto 0 0;
}

.u-section-5 .u-gallery-1 {
  height: 500px;
  width: 500px;
  margin: -553px auto 0 67px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: -78px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
  padding: 10px;
}

.u-section-5 .u-group-1 {
  min-height: 403px;
  width: 442px;
  margin: -216px 96px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  letter-spacing: normal;
  text-transform: none;
  margin: 49px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-style: normal;
  line-height: 28.8px;
  margin: 26px 0 0;
}

.u-section-5 .u-text-3 {
  text-align: center;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  text-align: left;
  font-weight: 700;
  text-transform: none;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  box-shadow: -2px 0px 0 0 rgba(0,0,0,0);
  margin: -657px 0 60px 602px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-2 {
    width: 940px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-2 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-shape-2 {
    width: 540px;
  }

  .u-section-5 .u-gallery-1 {
    margin-left: 40px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 20px;
    margin-left: -38px;
  }

  .u-section-5 .u-shape-2 {
    height: 238px;
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: -403px;
    height: 345px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-5 .u-text-4 {
    font-size: 2rem;
    width: auto;
    margin-top: -473px;
    margin-left: 0;
    margin-bottom: 403px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 716px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 45px auto 0;
}

.u-section-6 .u-list-1 {
  width: 976px;
  margin: 45px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  min-height: 409px;
  grid-gap: 20px 20px;
}

.u-section-6 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: linear-gradient(#41807c, #2cccc4);
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 20px 15px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 0 66px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 8px 0 0;
}

.u-section-6 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 20px 15px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 0 66px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 8px 0 0;
}

.u-section-6 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 20px 15px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 0 66px 0 0;
}

.u-section-6 .u-text-7 {
  margin: 8px 0 0;
}

.u-section-6 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: linear-gradient(#41807c, #2cccc4);
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 20px 15px;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: 0 66px 0 0;
}

.u-section-6 .u-text-9 {
  margin: 8px 0 0;
}

.u-section-6 .u-image-1 {
  width: 253px;
  height: 66px;
  margin: 45px auto 54px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 394px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 30px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 30px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 30px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1094px;
}

.u-section-7 .u-shape-1 {
  width: 737px;
  background-image: linear-gradient(#2cccc4, #293332);
  height: 930px;
  margin: 164px auto 0 403px;
}

.u-section-7 .u-image-1 {
  width: 560px;
  height: 429px;
  object-position: 50% 0%;
  margin: -1007px auto 0 0;
}

.u-section-7 .u-group-1 {
  width: 520px;
  min-height: 381px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: -548px 31px 0 auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 34px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 42px auto 0 0;
  padding: 10px 29px;
}

.u-section-7 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  width: 802px;
  margin: 190px 42px 0 auto;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 432px;
  grid-gap: 30px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,42,41,0.25);
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,42,41,0.25);
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,42,41,0.25);
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-7 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-7 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,42,41,0.25);
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-icon-5 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-7 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-7 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,42,41,0.25);
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-icon-6 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-7 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-7 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,42,41,0.25);
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-icon-7 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-7 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-7 .u-text-8 {
  font-size: 3rem;
  margin: -582px 150px 0 auto;
}

.u-section-7 .u-image-2 {
  width: 253px;
  height: 66px;
  margin: 506px 242px 29px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-1 {
    width: 686px;
    margin-top: 243px;
    margin-left: 203px;
  }

  .u-section-7 .u-image-1 {
    width: 543px;
    height: 570px;
  }

  .u-section-7 .u-group-1 {
    width: 405px;
    margin-top: -646px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 91px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
  }

  .u-section-7 .u-icon-4 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-7 .u-icon-6 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-7 .u-icon-7 {
    color: rgb(255, 255, 255) !important;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-shape-1 {
    width: 574px;
    height: 1215px;
    margin-top: 490px;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    width: 474px;
    height: 490px;
    margin-top: -1655px;
  }

  .u-section-7 .u-group-1 {
    width: 431px;
    margin-top: -183px;
    margin-right: 71px;
  }

  .u-section-7 .u-list-1 {
    width: 649px;
    margin-top: 51px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 716px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-7 .u-shape-1 {
    width: 432px;
    height: 1185px;
    margin-top: 631px;
  }

  .u-section-7 .u-image-1 {
    width: 432px;
    height: 465px;
    margin-top: -1761px;
  }

  .u-section-7 .u-group-1 {
    width: 442px;
    margin-top: -27px;
    margin-right: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-list-1 {
    width: 491px;
    margin-top: 56px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 694px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2346px;
  }

  .u-section-7 .u-shape-1 {
    height: 1097px;
    margin-top: 529px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    height: 260px;
    margin-top: -1566px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-1 {
    width: 255px;
    min-height: 415px;
    margin-top: 16px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 1px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 16px;
    margin-left: auto;
    padding: 17px 11px 18px 10px;
  }

  .u-section-7 .u-list-1 {
    width: 255px;
    margin-top: 120px;
    margin-left: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1356px;
  }

  .u-section-7 .u-text-8 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -1457px;
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: 1402px;
    margin-right: auto;
    margin-bottom: 30px;
  }
} .u-section-8 {
  background-image: linear-gradient(#2cccc4, #1a1a1a);
}

.u-section-8 .u-sheet-1 {
  min-height: 302px;
}

.u-section-8 .u-position-1 {
  min-height: 24px;
  margin: 38px 646px 0 244px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin-top: 0;
}

.u-section-8 .u-position-2 {
  min-height: 24px;
  margin: -24px 363px 0 661px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin-top: 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  margin: 8px 647px 0 225px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: -28px 298px 0 596px;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: 34px 348px 0 661px;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-line-1 {
  width: 1065px;
  transform-origin: left center 0px;
  margin: 27px auto 0;
}

.u-section-8 .u-text-6 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 400;
  margin: 17px 0 22px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-position-1 {
    height: auto;
    margin-right: 546px;
    margin-left: 144px;
  }

  .u-section-8 .u-position-2 {
    height: auto;
    margin-right: 263px;
    margin-left: 561px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 547px;
    margin-left: 125px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 198px;
    margin-left: 496px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 248px;
    margin-left: 561px;
  }

  .u-section-8 .u-line-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-position-1 {
    margin-right: 436px;
    margin-left: 34px;
  }

  .u-section-8 .u-position-2 {
    margin-right: 153px;
    margin-left: 451px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 437px;
    margin-left: 15px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 88px;
    margin-left: 386px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 138px;
    margin-left: 451px;
  }

  .u-section-8 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-position-1 {
    margin-right: 290px;
    margin-left: 0;
  }

  .u-section-8 .u-position-2 {
    margin-right: 63px;
    margin-left: 361px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 272px;
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
    margin-left: 294px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 48px;
    margin-left: 361px;
  }

  .u-section-8 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-8 .u-position-1 {
    width: 250px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-position-2 {
    width: 116px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-3 {
    width: 268px;
    margin-top: -88px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-4 {
    width: 246px;
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-5 {
    width: 131px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-line-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 29px;
    margin-bottom: 29px;
  }
}